{% extends "base.html" %}

{% block content %}
<article>
  <header>
    <h1>My name is Jonny, and I suck at web design</h1>
  </header>
  <div>
    <h3>What I'm Hacking On</h3>
    <p>I am the lead front-end developer at <a href="http://improbable.io">Improbable</a> working on <a href="http://improbable.io/2016/02/18/how-a-team-of-five-created-a-next-gen-mmo-with-unity-and-spatialos">SpatialOS</a>.  Me and my team hack with React, Redux, ThreeJS and Golang.  In the past I've worked for Amazon, Yamaha and Mind Candy.  If you would like to get in touch, please contact me on <a href="https://www.linkedin.com/in/jonnyreeves">LinkedIn</a>.</p>

    <h3>Things I've Open Sourced</h3>
    <ul>
      {% for name, description in OPENSOURCE %}
        <li><a href="https://github.com/jonnyreeves/{{ name }}">{{ name }}</a> - {{ description }}</li>
      {% endfor %}
    </ul>

    <h3>Recent Blog Posts</h3>
    <ul>
    {% for article in articles_page.object_list %}
      <li><a href="{{ SITEURL }}/{{ article.url }}#{{ article.slug }}">{{ article.title }}</a></li>
    {% endfor %}
    </ul>
    <p><a href="/archives">Archives</a></p>
  </div>
</article>
{% endblock %}
