{% extends "base.html" %}

{% block content %}
<article>
  <header>
    <h1>My name is Jonny, and I suck at web design</h1>
  </header>
  <div>
    <h3>What I'm Hacking On</h3>
    <p>I am an Engineering Manager at Facebook supporting a team of full stack developers building collarative tools for advertisers.  In the past I've worked for Improbable, Amazon, Yamaha and Mind Candy.  If you would like to get in touch, please contact me on <a href="https://www.linkedin.com/in/jonnyreeves">LinkedIn</a>.</p>

    <h3>Open Source</h3>
    <p>Being a father of two I don't get much free time, but when I do I like to hack on Open Source, here are some of the projects I'm proud of maintaining or contributing to:<p>
    <ul>
      {% for name, description in OPENSOURCE %}
        <li><a href="https://github.com/jonnyreeves/{{ name }}">{{ name }}</a> - {{ description }}</li>
      {% endfor %}
    </ul>

    <h3>Recent Blog Posts</h3>
    <ul>
    {% for article in articles_page.object_list %}
      <li><a href="{{ SITEURL }}/{{ article.url }}#{{ article.slug }}">{{ article.title }}</a></li>
    {% endfor %}
    </ul>
    <p>Find more posts in the <a href="/archives">archive</a>.</p>
  </div>
</article>
{% endblock %}
